<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
    <bean id="mrf"
    class="car_tyre.brand_mrf">
    </bean>
 	
 	<bean id="bmw"
 	class="car.brand_bmw">
 	<constructor-arg ref="mrf" />
 	</bean>
 	
 	
 	
 	<bean id="ceat"
 	class="car_tyre.brand_ceat">
 	</bean>
 	
 	<bean id="audi"
 	class="car.brand_audi">
 	<property name="tyre" ref="ceat" />
 	</bean>

    

</beans>





